## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Exec=sdwdate-gui
Name=sdwdate-gui
GenericName=Time Synchronization Monitor
Comment=Time Synchronization Monitor
Categories=System
Icon=/usr/share/icons/icon-pack-dist/timesync.ico
Keywords=system;time;synchronization
