## Copyright (C) 2018 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions

[Unit]
Description=Notify sdwdate-gui on gateway about shutdown.
Documentation=https://www.whonix.org/wiki/sdwdate-gui
ConditionPathExists=!/run/qubes/this-is-templatevm
ConditionPathExists=!/run/qubes-service/no-sdwdate

After=qubes-qrexec-agent.service
Before=shutdown.target umount.target final.target

[Service]
Type=oneshot
## Required so that ExecStop runs only after the service is stopped.
RemainAfterExit=yes
#ExecStartPre=NAME="$(/usr/bin/qubesdb-read /name)"
ExecStop=/usr/libexec/sdwdate-gui/notify-shutdown

[Install]
WantedBy=multi-user.target
