[Unit]
Description=Notify shutdown to gateway.
After=qubes-qrexec-agent.service

[Service]
Type=oneshot
#Required so that ExecStop runs only after the service is stopped.
RemainAfterExit=yes
#ExecStartPre=NAME="$(/usr/bin/qubesdb-read /name)"
ExecStop=/usr/lib/qubes/notify-shutdown

[Install]
WantedBy=multi-user.target
