## Copyright (C) 2018 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: sdwdate-gui
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13)
Homepage: https://www.whonix.org/wiki/Dev/TimeSync
Vcs-Browser: https://github.com/Whonix/sdwdate-gui
Vcs-Git: https://github.com/Whonix/sdwdate-gui.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: sdwdate-gui
Architecture: all
Depends: sudo, python3, python3-pyqt5, helper-scripts, sdwdate, adduser,
 ${misc:Depends}
Description: Sdwdate Monitor
 sdwdate-gui is a systray icon monitor for sdwdate: checks sdwdate's status
 and modify the tray icon accordingly. In addition, it allows the user to
 restart sdwdate and view the log.
