## Copyright (C) 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: sdwdate-gui
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, ruby-ronn
Homepage: https://www.whonix.org/wiki/Dev/TimeSync
Vcs-Browser: https://github.com/Whonix/sdwdate-gui
Vcs-Git: https://github.com/Whonix/sdwdate-gui.git
Standards-Version: 3.9.8

Package: sdwdate-gui
Architecture: all
Depends: sudo, python3, python3-pyqt5, konsole, sdwdate, kdesudo, ${misc:Depends}
Recommends: vbox-disable-timesync
Description: Sdwdate Monitor
 sdwdate-gui is a systray icon monitor for sdwdate: checks sdwdate's status
 and modify the tray icon accordingly. In addition, it allows the user to
 restart sdwdate and view the log.
