[Unit]
Description=sdwdate graphical user interface - Qubes socket proxy

ConditionPathExists=/usr/share/qubes/marker-vm
ConditionPathExists=/run/sdwdate-gui-qubes-should-proxy
ConditionPathExists=!/run/qubes/this-is-templatevm

Requires=user@.service
Requires=sockets.target
Requires=sdwdate-gui-qubes-proxy-helper.service

After=user@.service
After=sockets.target
After=sdwdate-gui-qubes-proxy-helper.service

[Socket]
ListenStream=/run/user/%i/sdwdate-gui/sdwdate-gui-server.socket
Accept=yes

[Install]
WantedBy=user@.service
