## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Name=sdwdate-gui-server
Comment=Secure Distributed Web Date Graphical User Interface
Type=Application
Terminal=false
Exec=/usr/lib/python3/dist-packages/sdwdate_gui/sdwdate_gui_server.py
#NotShowIn=QUBES;
